<div class="row">
    <div class="col-sm-12">
        <div equal-height-nav-tabs>
            <tabset justified="true">
                <tab heading="{{horizontalMenu.title| translate}}"
                     class="{{getMenuStyle(horizontalMenu)}}"
                     ng-repeat="horizontalMenu in model.performanceMenu"
                     active="horizontalMenu.active"
                     ng-click="resetView(horizontalMenu)">
                    {{}}
                    <div ng-include="horizontalMenu.view"></div>
                </tab>
            </tabset>
        </div>
    </div>
</div>