<div ng-if="!model.reportStarted && model.reportReady">
    <div class="row" ng-if="model.events.length > 0">
        <div class="col-sm-12">
            <span class="hideInPrint">
                <span class="dropdown">
                    <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download'| translate}}"><i class="fa fa-download"></i></label>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">{{'download'| translate}}</h6></li>
                        <li class="divider"></li>
                        <li><a href filename="activity-list.csv" ng-click="exportData()">{{'csv'| translate}}</a></li>
                        <li><a href filename="activity-list.pdf" onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                    </ul>
                </span>
                <label class="btn btn-default horizontal-spacing" ng-click="showHideColumns()" ng-attr-title="{{'show_hide_columns'| translate}}">
                    <i class="fa fa-table label-font"></i>
                </label>
                <label class="long-horizontal-spacing">
                    {{'total_no_activities'| translate}} = {{model.events.length}}
                </label>
            </span>
        </div>
        <div class="col-sm-12" id="exportTable">
            <table class="table table-bordered dhis2-table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="vertical-center cursor-pointer">
                            {{'date'| translate}}
                        </th>
                        <th class="vertical-center cursor-pointer">
                            {{'organisation_unit'| translate}}
                        </th>
                        <th class="vertical-center cursor-pointer"
                            ng-repeat="header in model.dynamicHeaders"
                            ng-if="header.show">

                            {{header.formName ? header.formName : header.displayName }}

                            <!-- sort icon begins -->
                            <span class="fa-stack hideInPrint" ng-attr-title="{{'sort' | translate}}" ng-click="sortItems(header)">
                                <span ng-class="{true: 'alert-danger'} [model.sortHeader.id === header.id && !reverse]"><i class="fa fa-sort-asc fa-stack-1x"></i></span>
                                <span ng-class="{true: 'alert-danger'} [model.sortHeader.id === header.id && reverse]"><i class="fa fa-sort-desc fa-stack-1x"></i></span>
                            </span>
                            <!-- sort icon ends -->

                            <!-- filter icon begins -->
                            <span class='pull-right hideInPrint' ng-attr-title="{{'filter' | translate}}" ng-click="header.showFilter ? filterItems(header, true, true) : filterItems(header, false, false)">
                                <span ng-if="!header.filterWithRange" >
                                    <span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [filterText[header.id] == undefined || filterText[header.id] == '']"><i class="fa fa-search"></i></span>
                                </span>
                                <span ng-if="header.filterWithRange">
                                    <span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [(filterText[header.id].start == undefined || filterText[header.id].start == '') && (filterText[header.id].end == undefined || filterText[header.id].end == '')]"><i class="fa fa-search"></i></span>
                                </span>
                            </span>
                            <!-- filter icon ends -->

                            <!-- filter input field begins -->
                            <span ng-show="header.showFilter">
                                <span ng-switch="header.valueType">
                                    <span ng-switch-when="NUMBER">
                                        <span class='input-group'>
                                            <input ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start">
                                            <input ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end">
                                        </span>
                                    </span>
                                    <span ng-switch-when="INTEGER">
                                        <span class='input-group'>
                                            <input ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start">
                                            <input ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end">
                                        </span>
                                    </span>
                                    <span ng-switch-when="INTEGER_POSITIVE">
                                        <span class='input-group'>
                                            <input ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start">
                                            <input ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end">
                                        </span>
                                    </span>
                                    <span ng-switch-when="INTEGER_NEGATIVE">
                                        <span class='input-group'>
                                            <input ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start">
                                            <input ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end">
                                        </span>
                                    </span>
                                    <span ng-switch-when="INTEGER_ZERO_OR_POSITIVE">
                                        <span class='input-group'>
                                            <input ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start">
                                            <input ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end">
                                        </span>
                                    </span>
                                    <span ng-switch-when="DATE">
                                        <input style="width: 70%;" ng-attr-placeholder="{{'start_date' | translate}}" type="text" ng-model="filterText[header.id].start" d2-date readonly="readonly">
                                        <span ng-hide="!filterText[header.id].start || filterText[header.id].start == undefined || filterText[header.id].start == ''">
                                            <a href ng-click='removeStartFilterText(header.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>
                                        </span>
                                        <input style="width: 70%;" ng-attr-placeholder="{{'end_date' | translate}}" type="text" ng-model="filterText[header.id].end" d2-date readonly="readonly">
                                        <span ng-hide="!filterText[header.id].end || filterText[header.id].end == undefined || filterText[header.id].end == ''">
                                            <a href ng-click='removeEndFilterText(header.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>
                                        </span>
                                    </span>
                                    <span ng-switch-when="TEXT">
                                        <span ng-if="header.optionSetValue">
                                            <ui-select multiple
                                                       ng-model="filterText[header.id]"
                                                       ng-click="filterItems1(header, false, false)"
                                                       theme="bootstrap" style="width:90%;">
                                                <ui-select-match allow-clear="true" ng-attr-placeholder="{{'select_or_search'| translate}}">{{$item.displayName}}</ui-select-match>
                                                <ui-select-choices repeat="option in model.optionSets[header.optionSet.id].options | filter: $select.search">
                                                    <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </span>

                                        <span ng-if="!header.optionSetValue">
                                            <input type="text" style="width: 90%;" ng-model="filterText[header.id]" ng-blur="filterItems(header, true, true)">
                                        </span>
                                    </span>
                                    <span ng-switch-default>
                                        <input type="text" style="width: 90%;" ng-model="filterText[header.id]" ng-blur="filterItems(header, true, true)">
                                    </span>
                                </span>
                            </span>
                            <!-- filter input field ends -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in model.events">
                        <td class="vertical-center">
                            {{event.date}}
                        </td>
                        <td class="vertical-center">
                            {{event.orgUnitName}}
                        </td>
                        <td class="vertical-center"
                            ng-repeat="header in model.dynamicHeaders"
                            ng-if="header.show"
                            ng-click="showEditArt(art)"
                            ng-attr-title="{{'show_details'| translate}}">
                            {{event[header.id]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 hideInPrint">
            <serverside-paginator></serverside-paginator>
        </div>
    </div>
    <div class="alert alert-warning" ng-if="model.events.length === 0">
        {{'no_activities_available' | translate}}
    </div>
</div>

<div class="alert alert-info" ng-if="model.reportStarted && !model.reportReady">
    <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
    {{'fetching_data'| translate}}
</div>