* {
    font-family: Cambria, Georgia, serif;
}

html, body {
    height:100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: auto;
    font-size: 100% !important;
}

.page, .page p,.page td,.page th,.page input,.page select,.page textarea
 {
    font-size: 12pt !important;
}

::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}

.disable-clicks {
    pointer-events: none;
}

#leftBar {
    margin-top: 4px;
    border-radius: 3px;
    height: 100%;
    width: 236px;
    overflow: scroll;
}

#mainPage {
    margin: 60px 5px 5px 240px;
}

.not-for-screen {
    display: none;
}

@media print {
    .not-for-screen {
        display: block;
    }
    body, html {
        width: 100% !important;
        height: auto !important;
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: white !important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white !important;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: white !important;
    }

    .select2-chosen {
        color: white !important;
    }

    #header, #leftBar, .hideInPrint {
        display: none !important;
    }

    .select2-arrow, .ui-select-toggle {
        display: none !important;
    }

    .table-scroll {
        height: 100% !important;
    }

    .table-scroll table {
        padding: 20px;
        height: 100% !important;
        width: 100% !important;
        border-collapse: collapse !important;
        border-spacing: 0 !important;
    }

    .result-table th {
        border: 1px solid #000 !important;
    }
}

.category-menu {
    background-color: #fff;
    height: auto;
    font-size: 14pt !important;
}

.menu-title  {
    margin: 8px;
}

.menu-padding {
    padding: 13px !important;
}
.menu-spacing {
    margin-top: 30px;
}

.vertical-spacing {
    margin-top: 20px !important;
}

.long-vertical-spacing {
    margin-top: 30px;
}

.vertical-center {
    vertical-align: middle !important;
    display: table-cell;
}


.dhis2-info-table > thead > tr > th,
.dhis2-info-table > tbody > tr > th,
.dhis2-info-table > tfoot > tr > th,
.dhis2-info-table > thead > tr > td,
.dhis2-info-table > tbody > tr > td,
.dhis2-info-table > tfoot > tr > td {
    border: 1px solid #ad892e;
    padding: 8px;
    line-height: 1.42;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}


.dhis2-table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #fff !important;
    cursor: pointer;
}

.dhis2-table-striped-border tr th {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border tr td {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6;
}

.listTable td {
    padding: 5px;
}

.font-18 {
    font-size: 18px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-12 {
    font-size: 12px !important;
}

.center {
    text-align: center !important;
}

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.small-horizontal-spacing{
    margin-left: 5px;
}

.horizontal-spacing {
    margin-right: 20px;
}

.long-horizontal-spacing {
    margin-left: 40px;
}

.indentation {
    margin-left: 20px;
}

.double-indentation {
    margin-left: 40px;
}

.remove-horizontal-spacing {
    margin-left: -25px;
}

.small-vertical-spacing{
    margin-top: 5px !important;
}

.vertical-spacing{
    margin-top: 20px;
}

.selection-group{
    margin: 0 auto;
    display: flex;
    color: #000;
}

.green-info-area {
    border: 1px solid #a4d2a3;
    background-color: #d0eBd0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.blue-info-area {
    border: 1px solid #729fcf;
    background-color: #BBD1EE !important;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.blue-info-header-area {
    border: 1px solid #729fcf;
    background-color: #BBD1EE !important;
    border-radius: 3px;
}

.dashboard-item-container {
    border: 1px solid #cad5e5;
    padding: 20px;
    border-radius: 10px;
}

.report-filter {
    border-color: #BBD1EE;
}

.custom-panel {
    color: #000;
    background-color: #BBD1EE;
    border-color: #BBD1EE;
    border-style: none;
    border-radius: 0;
    border-style: none !important;
    border-radius: 0 !important;
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    padding: 6px 0;
}

.report-filter-no-radius {
    background-color: #d0eBd0;
}

.remove-bottom-margin {
    margin-bottom: 0 !important;
}

.yellow-info-area {
    border: 1px solid #ad892e;
    background-color: #faebc4;/*#F4CD6C;*/
    padding: 10px;
    border-radius: 3px;
}

.red-background {
    background-color: #f4b183 !important;
    color: #000;
}

.yellow-background {
    background-color: #ffff00 !important;
    color: #000;
}

.green-background {
    background-color: #92d050 !important;
    color: #000;
}

.blue-background {
    background-color: #00b0f0 !important;
    color: #000;
}

.add-small-left-padding {
    margin-left: 5px !important;
}

.horizontal-menu {
    color: #fff;
}

.select-list-buttons {
    padding-top: 25px;
}

.select-list-labels {
    padding-bottom: 5px;
    color: #333;
}

.multiSelectAvailable option,
.multiSelectSelected option {
    padding: 5px;
    line-height: 1.428571429;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

.multiSelectAvailable, .multiSelectSelected {
    width: 100%;
    height: 160px !important;
    overflow: auto;
}

.form-control-checkbox {
    height: 24px;
    width: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-control-ui-select {
    width:100%;
    padding: 20px 6px;
    border-radius: 4px;
}

.select2-container .select2-choice {
    padding: 5px !important;
}

.form-control{
    padding: 5px !important;
    color: #555 !important;
}

.bottomright {
    position:absolute;
    bottom:0;
    right: 0;
    margin:5px;
}


/* ou tree start */
.ou-search-left-bar {
    margin-top: 30px;
    padding: 2px;
}

#searchOuTree {
    max-height: 400px;
    overflow: auto;
    padding: 10px 0;
}

.tree-menu {
    margin-left: -5px;
    color: #000;
    text-decoration: none;
    font-size: 12pt;
    background-color: white;
    overflow: auto;
    width: 100%;
    height: 300px;
    display: inline-block;
    white-space: nowrap;
}

ul.tree, ul.tree ul {
    list-style:none;
    margin:0;
    padding:0;
}

ul.tree ul {
    margin-left:10px; /* indentation */
    position:relative;
}

ul.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px dotted;
}

ul.tree li {
    margin:0;
    padding:0 10px; /* indentation + 2 */
    line-height:24px; /* default list item `line-height` */
    position:relative;
}

ul.tree ul li.active-menu-item:before {
    content:"";
    display:block;
    width:10px; /* same with indentation */
    height:0;
    border-top:1px dotted;
    position:absolute;
    top:12px;
    left:0;
}

ul.tree ul li:last-child:before {
    background:white; /* same with body background */
    height:auto;
    top:12px; /* (line-height/2) */
    bottom:0;
}

.tree-menu-button {
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}

.selected-org-unit, .selected-menu {
    font-weight: bold;
    padding: 2px;
    background: #2b6998;
    color: #fff !important;
    text-decoration: none;
}

.menu-spacer {
    border-top:1px dotted;
    width: 100%;
}
/* ou tree end */


.tree li a {
    color: #3162C5;
    text-decoration: none;
}

.tree li a:hover {
    padding: 2px;
    background: #2b6998;
    color: #fff ;
    text-decoration: none;
}

.nav-tabs.nav-justified > li {
    padding-bottom: 0 !important;
}
.nav-tabs.nav-justified > li > a {
    margin-left: 2px ;
    top: 1px;
    border: none;
}
.nav-tabs.nav-justified > li:first-child > a {
    margin-left: 0;
}
.nav-tabs.nav-justified > li > a:link {
    background: #eee;
}

.link-text {
    cursor: pointer;
    color: #2d2db3;
    text-decoration: none;
}

.link-text:hover {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.spacer {
    margin: 15px;
}

.milestone-info-area {
    /*border: 1px solid #cad5e5;
    padding: 10px;
    border-radius: 3px;*/
    margin-top: 10px;
}

.info-icon {
    color: #428bca;
    font-size: 1.4em;
}

.menu-vertical-spacing {
    margin-top: 60px;
}

.green-traffic-light {
    background-color: #339D73 !important;
}

.yellow-traffic-light {
    background-color: #F4CD4D !important;
}

.red-traffic-light {
    background-color: #CD615A !important;
}

.main-horizontal-menu > a:link {
    background: #b4cdcd !important;
}

.external-horizontal-menu > a:link {
    background: #d9e6e6 !important;
}

.active-horizontal-menu > a {
    font-weight: bold !important;
}

.word-wrap {
    word-wrap: break-word
}

.bordered-div {
    border: 3px solid #cad5e5;
    padding: 10px;
    border-radius: 10px;
}

.comment-modal-window .modal-dialog {
    width: 80%;
}

.list-group-item-borderless {
    display: block;
    padding: 0 10px;
}

.slider-container {
    border: 1px solid #cad5e5;
    border-radius: 10px;
}

.carousel-indicators li {
    display: none !important;
}

.carousel-inner > .item > img {
    height: auto;
    display: table;
    margin: 0 auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.carousel-control {
    background-image: none !important
}

.carousel-control > .glyphicon {
    color: #000;
    cursor: pointer;
}

.sticky-table {
    height: 60vh;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: scroll;
    height: 80vh;
}

.table-scroll table {
    width: 100%;
    min-width: 100px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table-scroll table,
.table-scroll th,
.table-scroll td {
    /*border: 1px solid #729fcf !important;*/
}

.table-wrap {
    position: relative;
}

.table-scroll th,
.table-scroll td {
    vertical-align: top;
}

.table-scroll thead th {
    background: #bbd1ee;
    color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

th.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
}

thead th.sticky {
    z-index: 5;
}

.table-scroll thead tr:nth-child(2) th {
    top: 30px;
}
.selected-ndp-menu {
    color: red !important;
}

.ndp-menu {
    color: #0000FF !important;
}

.il-menu {
    color: #0CAFFF !important;
}

.prj-menu {
    color: #2c7b13 !important;
}

.sdg-menu {
    color: #008080 !important;
}

.dg-menu {
    color: #5D8AA8 !important;
}

.lib-menu {
    color: #923a62 !important;
}

.filter-with-content {
    float: right !important;
    color: red;
}

.filter-without-content {
    float: right !important;
    color: black;
}